* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    height: 50px;
    margin: 10px 20px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
}

img {
    vertical-align: middle;
}

main {
    background-color: rgb(233, 227, 227);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.corpo {
    background-color: white;
    height: 650px;
}

button {
    margin-top: 10px,
}

.btn-task {
    margin-top: 20px;
    margin-left: 50px;
    background-color: rgb(100, 100, 219);
    color: white;
    border: 1px solid rgb(130, 241, 241);
    padding: 8px 12px;
    border-radius: 12%;
}

.btn-section {
    background-color: white;
    color: gray;
    border: 1px solid rgb(151, 148, 148);
    padding: 8px 12px;
    border-radius: 12%;
}

h3 {
    color: black;
    display: inline-block;
}

.new-task {
    margin: 30px 0px 20px 50px;
    display: inline-block;
}

.today {
    margin: 0px 0px 20px 50px;
}

.upcoming {
    margin: 0px 50px;
}

.check {
    background-color: white;
    border: 1px solid green;
    border-radius: 100%;
    color: green;
    padding: 3px;
    font-size: 10px;
    margin-right: 4px;
}

.cross {
    background-color: white;
    border: 1px solid red;
    border-radius: 100%;
    color: red;
    padding: 3px;
    font-size: 10px;
    margin-right: 4px;
}

.editorial {
    background-color: rgb(113, 230, 230);
    border: 1px solid rgb(14, 194, 194);
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
}

.q1-goals {
    background-color: violet;
    border: 1px solid rgb(150, 73, 150);
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
}

.recruiting {
    background-color: green;
    border: 1px solid rgb(39, 112, 39);
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
}

.mobile {
    background-color: orange;
    border: 1px solid rgb(160, 110, 17);
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
}

.website {
    background-color: pink;
    border: 1px solid rgb(190, 115, 127);
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
}

.sales {
    background-color: rgb(96, 226, 96);
    border: 1px solid green;
    border-radius: 50px;
    color: white;
    padding: 5px 10px;
}

.spazio {
    margin-top: 15px;
}

.triangolo {
      border-top: 7px solid black;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      text-align: center;
      display: inline-block;
}
